<footer class=" site-footer">

    <!-- Start Footer One -->
    <div role="contentinfo">
        <div class="row footer-one">
            <div class="large-5 columns hide-for-small"> <a href="http://dol.gov"> <img src="{{ site.baseurl }}/img/dol-logo-white.png" alt="U.S.Department of Labor"/> <span class="header-logo-type-white">UNITED STATES <br>DEPARTMENT OF LABOR </span> </a> 
			</div>
            <div class="large-3 columns">
                <p class="footer-info1 a-bottom"><a href="http://www.dol.gov/dol/contact/">Contact Us </a></p>
            </div>
            <div class="large-4 columns">
                <div class="social-block-btm mt">
                    <a href="http://www.facebook.com/departmentoflabor"  class="sm-facebook">Facebook</a>
                    <a href="http://twitter.com/usdol" class="sm-twitter">Twitter</a>
                    <a href="http://www.instagram.com/USDOL" class="sm-instagram">DOL Instagram</a>
                    <a href="https://plus.google.com/+USDOL/posts" class="sm-gplus">Google Plus</a>
                    <a href="http://www.linkedin.com/company/u.s.-department-of-labor" class="sm-in">LinkedIn</a>
                    <a href="http://www.dol.gov/rss/" class="sm-rss-btm">RSS</a>
                    <a href="javascript:window.open('https://public.govdelivery.com/accounts/USDOL/subscriber/new','Popup','width=800,height=500,toolbar=no,scrollbars=yes,resizable=yes'); void('');"
                       ONCLICK="window.status='Subscribe'; return true"
                       ONMOUSEOVER="window.status='Subscribe'; return true"
                       ONMOUSEOUT="window.status=''; return true" class="sm-email-btm">Email</a>
                </div>
            </div>
        </div>
        <!-- End Footer One -->

        <!-- Start Footer Two -->
        <div class="row footer-two">
            <div class="large-3 columns line-b-peach">
                <p>200 Constitution Ave. NW<br>
                    Washington DC 20210<br>
                    <a href="tel:1-866-487-2365">1-866-4-USA-DOL</a><br>
                    <a href="tel:1-866-487-2365">1-866-487-2365</a><br>
                    <a href="http://www.dol.gov/dol/contact/contact-phonecallcenter.htm">TTY</a><br>
                    <a href="http://www.dol.gov/">www.dol.gov </a> </p>
            </div>
            <div class="large-3 columns  line-b-peach">
                <p><strong>ABOUT THE SITE</strong></p>
                <ul role="navigation">
                    <li><a href="http://www.dol.gov/dol/foia/">Freedom of Information Act</a></li>
                    <li><a href="http://www.dol.gov/dol/privacynotice.htm">Privacy &amp; Security Statement</a></li>
                    <li><a href="http://www.dol.gov/dol/disclaim.htm">Disclaimers</a></li>
                    <li><a href="http://www.dol.gov/dol/aboutdol/website-policies.htm">Important Web Site Notices</a></li>
                    <li><a href="http://www.dol.gov/dol/aboutdol/plug-ins.htm">Plug-ins Used by DOL</a></li>
                    <li><a href="http://www.dol.gov/rss/">RSS Feeds from DOL</a></li>
                    <li><a href="http://www.dol.gov/dol/aboutdol/accessibility.htm">Accessibility Statement</a></li>
                </ul>
            </div>
            <div class="large-3 columns end line-b-peach">
                <p><strong>QUARRY</strong></p>
                <ul role="navigation">
                    <li><a href="https://opendata.stackexchange.com/questions/ask?tags=labor">Ask Questions</a></li>
                    <li><a href="https://github.com/USDepartmentofLabor/Quarry/issues/new">Report Bugs</a></li>
                    <li><a href="https://github.com/USDepartmentofLabor/Quarry/tree/gh-pages">Fork this site on Github</a></li>
                </ul>
            </div>

        </div>
        <!-- End Footer Two -->
    </div>

</footer>
<script src="{{ site.baseurl }}js/vendor/jquery.js"></script>
<script src="{{ site.baseurl }}js/vendor/fastclick.js"></script>
<script src="{{ site.baseurl }}js/foundation.min.js"></script>

<script>
    $(document).foundation();
</script>
<!-- Never remove this: Resolved IE 8 issue on grids of the CSS Frameworks-->
<script src="{{ site.baseurl }}js/rem.min.js" type="text/javascript"></script>
<!-- Never remove above line -->

