<header class="site-header">
    <div class="wrapper">
        <div class="hide"><a href="#maincontent">Skip to Main Content</a></div>
        <!--Start Banner -->
        <a id="top"></a>

        <div class="row top-header" role="banner">
            <div class="large-2 columns text-right">
			</div>
			<a href="http://usdepartmentoflabor.github.io/Quarry/"> <span class="brand-white"></span></a>
            <div class="large-10 columns text-left">
               <h1 class="header-logo-type text-left">
			   QUARRY<br/>
                    UNITED STATES DEPARTMENT OF LABOR</h1>
			</div>
            <div class="large-10 columns text-right">

		</div>
		</div>
    </div>
</header>
